.btn{
    width: 119px;
    height: 35px;
    margin: 5px 40px 5px 40px;
    padding: 8px 21px 11px 21px;
    border-radius: 20px;
    background-color: $red-color;
    text-transform: uppercase;
    border: 2px solid $red-color;
    &:hover{
        border: 2px solid $bg-color;
        cursor: pointer;
    }
}
.btn.hover {
    border: 2px solid $bg-color;
    background-color: $bg-color;
}
.btn.green{
    background-color: $green-color;
    border-color: $green-color;
    &:hover{
        border-color: #ffffff;
    }
}
.btn.no-border{
    background-color: transparent;
    border: none;
}
.btn.no-border.hover{
    color: $green-color;
    svg{
        fill: $green-color;
    }
}

.close{
    svg{
        fill: #DFDFDF;
    }
    &:hover{
        cursor: pointer;
        svg{
            fill: $yellow-color;
        }
    }
}
